@tailwind base;

/* a {
  @apply text-blue-700;
} */

a {
  color: #888888;
}

article p {
  @apply text-lg font-serif my-6;
  line-height: 175%;
}

@tailwind components;

@tailwind utilities;

body {
  font-size: 14px;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.control-dots .dot {
  background: rgba(0,0,0,.25)!important;
  box-shadow: none!important;
  width: 13px!important;
  height: 13px!important;
}

.control-dots .dot.selected {
  background: #FB4C06!important;
}

.carousel .slide {
  text-align: left!important;
}

.carousel-status {
  display: none!important;
}

.yt-lite.lyt-activated {
  background: none!important;
}