@tailwind base;

/* a {
  @apply text-blue-700;
} */

:root {
  --primary: #071789;
}

/* body {
  opacity: 0;
} */

a {
  color: #888888;
}

article p, .content {
  @apply text-lg font-serif my-6;
  line-height: 175%;
}

@tailwind components;

@tailwind utilities;

body {
  font-size: 14px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0,0,0,.5)!important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0,0,0,.5)!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0,0,0,.5)!important;
}

/** TABLE */
tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
  background-color: #f6f7f7;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.control-dots .dot {
  background: rgba(0,0,0,.25)!important;
  box-shadow: none!important;
  width: 13px!important;
  height: 13px!important;
}

.control-dots .dot.selected {
  background: #FB4C06!important;
}

.carousel .slide {
  text-align: left!important;
}

.carousel-status {
  display: none!important;
}

.yt-lite.lyt-activated {
  background: none!important;
}

.formControl {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 8px 15px;
  line-height: 16px;
  font-size: 16px;
  width: 100%;
  display: block;
  min-height: 50px;
}

.carousel.carousel-slider .control-arrow {
  width: 60px;
  height: 60px;
  background: var(--primary)!important;
  top: 50%!important;
  transform: translateY(-50%);
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 999999!important;
}

.modal-box {
  background: #eef3f6;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  height: auto;
  position: absolute;
  display: block;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.modal-header {
  background: #071789;
  border-radius: 20px 20px 0px 0px;
  font-size: 35px;
  color: #fff;
  text-align: center;
  height: 123px;
  margin-bottom: 40px;
  position: relative;
}

.modal-content {
  padding: 0 50px 50px;
}

@media screen and (max-width: 500px) {
  .modal-content {
    padding: 0 20px 20px;
  }
}

.product-opt > div:nth-child(1) {
  width: 30%;
}

.closer {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.rc-pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rc-pagination li > button, .rc-pagination li > a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  color: #000!important;
}

.rc-pagination li.rc-pagination-item-active > a {
  background: #071789!important;
  border-color: #071789!important;
  color: #fff!important;
}

.rc-pagination-prev button:after {
    content: "‹";
    display: block;
}

.rc-pagination-next button:after {
    content: "›";
    display: block;
}

button.close {
  width: 78px;
  height: 40px;
  background: rgba(0, 16, 61, 0.06);
  border-radius: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
}

.LazyLoad.is-visible {
  height: auto!important;
}

.ck-editor__editable {
    min-height: 300px;
}

.ck-editor__editable ul {
  padding-left: 25px;
}

label {
  font-weight: bold;
}